[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = https://github.com/DezFix/PipePipeExtractor.git
	branch = main
[submodule "PipePipeClient"]
	path = PipePipeClient
	url = https://github.com/DezFix/PipePipeClient.git
	branch = main
