[submodule "AlterTubeExtractor"]
	path = AlterTubeExtractor
	url = https://github.com/DezFix/AlterTubeExtractor.git
	branch = main
[submodule "AlterTubeClient"]
	path = AlterTubeClient
	url = https://github.com/DezFix/AlterTubeClient.git
	branch = main
