[submodule "PipePipeExtractor"]
	path = PipePipeExtractor
	url = https://github.com/DezFix/AlterTubeExtractor.git
	branch = main
[submodule "PipePipeClient"]
	path = PipePipeClient
	url = https://github.com/DezFix/AlterTubeClient.git
	branch = main
